/**
 * Created by przemyslaw.babel on 11.10.2022.
 */
a {
    color: rgba(255, 255, 255, 1) !important;
    text-decoration: none !important;
}

.nav-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 70%;
    background-color: rgba(10, 9, 15, 1);
}

.logo-img-style {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

img {
    width: 100px;
}

.nav-menu-style {
    display: flex;
    flex-direction: row;
    height: 50%;
}

.nav-item-style {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2vw;
    border-left: 1px solid rgba(253, 107, 2, 1);
    border-right: 1px solid rgba(253, 107, 2, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.nav-item-style:hover {
    background-color: rgba(253, 107, 2, 1);
}