.div-class-orders {
    margin-bottom: 20px;
}

.slds-truncate {
    color: rgb(0, 0, 0);
}

h1 {
    font-weight: 700;
    text-align: center;
}

h2{
    width: 100%;
    text-align: center;
    font-weight: 700;
}

p {
    text-align: center;
}

.style-img-orders {
    width: 500px;
}

.style-orders {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.div-class-order-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
